.container {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lg-view {
  color: var(--title-color);
}

.form-container {
  
  width: 100%;
  height: 600px;
 /* background-color: rgba(62, 140, 192, 0.467);
  box-shadow: inset 10px 10px 10px 10px rgba(0, 0, 0, 0.158),
    10px 10px 20px rgba(0, 0, 0, 0.466),
    inset -10px -10px 10px 10px rgba(203, 237, 255, 0.897);
  border-radius: 51% 49% 62% 38% / 25% 57% 43% 75%;
  position: relative;*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form{
display: flex;
flex-direction: column;
}

/*.form-container::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: rgba(206, 240, 254, 0.842);
  border-radius: 80% 20% 91% 9% / 48% 67% 33% 52%;
  top: 75px;
  left: 90px;
}

.form-container::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: rgba(206, 240, 254, 0.842);
  border-radius: 48% 52% 45% 55% / 48% 67% 33% 52%;
  top: 60px;
  left: 140px;
}*/



.right-container {
  display:flex;
  flex:1;
  height:460px;
  background-color: white;
  justify-content:center;
  align-items:center;
}

.left-container {
  display:flex;
  
  height:460px;
  width: 40%;
  justify-content:center;
  align-items:center;
    color:white;
    background-color: var(--title-color);
}

.left-container p {
  font-size:0.9rem;
}

.right-inner-container {
  width:100%;
  height:80%;
  text-align:center;
}

.left-inner-container {
  height:50%;
  
  text-align:center;
  line-height:22px;
}

input, textarea {
	background-color: #def1ff;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 300px;
  font-size:0.8rem;
  border-radius: 5px;
}


input:focus, textarea:focus{
  outline:1px solid teal;
}

/*button {
	border-radius: 20px;
	border: 1px solid rgb(66, 115, 148);
	background-color: rgb(66, 115, 148);*/
  /*#000C5E*/
	/*color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  cursor:pointer;
}

button:hover {
  opacity:0.7;
}

*/


form p {
  text-align:left;
}