
.footer-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
  }
  
  .footer-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Asegura que el video esté detrás del contenido */
  }
  
  .footer-content {
    display: flex;
    gap: 2rem;
    position: relative;
    z-index: 0; 
    color: white;
    
    align-items: center;
  }
  .footer-content img{
    height: 60px;
  }  
  
