.product-section {
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10rem;
   
    
}
.product-image {
    max-width: 450px;
     margin: 5rem 0;
}
.product-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 2rem;
}
.product-title {
    font-family: 'subtitle-font';
    text-transform: uppercase;
    color: rgb(19, 60, 87);
}
.product-text {
    font-family: 'text-font';
    line-height: 1.5;
    font-size: 1.2rem;
}
.product-button {
    width: 10rem;
}

@media (max-width: 1000px) {
    .product-section {
       flex-direction: column;
       gap: 2rem;
       padding: 2rem;
    }
   
}
@media (max-width: 768px) {
    .product-image {
        max-width: 300px;
         margin: 5rem 0;
    }
   
}