.product-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10rem;
    
}
.product-image {
    height: 80%;
    border-radius: 50%;
}
.product-content {
    
    width: 500px
}