.product-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10rem;
    
}
.product-image {
    height: 80%;
    border-radius: 50%;
}
.product-content {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 2rem;
}
.product-title {
    font-family: 'subtitle-font';
    text-transform: uppercase;
    color: rgb(19, 60, 87);
}
.product-text {
    font-family: 'text-font';
    line-height: 2;
}
.product-button {
    width: 10rem;
}

@media (max-width: 1000px) {
    .product-section {
       flex-direction: column;
       gap: 2rem;
       padding: 2rem;
    }
    .product-image {
        height: 50%;
    }
}